* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}









/*Now the styles*/
* {
    margin: 0; 
	padding: 0;
}
body {
	background: #ccc; 
	font-family: arial, verdana, tahoma;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 1200px; height: 800px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1200px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}








body {
    line-height: 1.6;
    color: #fff;
    background: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body.stop {
    overflow: hidden;
}
#page {
    position: relative;
    transition: 1s all ease-in-out;
}
#page.menuopen {
    opacity: 0.6;
    filter: blur(20px);
    transform: scale(1.2);
}
#future {
    background-repeat: no-repeat;
    height: 1200px;
}
section {
    display: flex;
    min-height: 100vh;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background: #222;
    color: #fff;
    position: relative;
}
section:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
section h1 {
    font-size: 120px;
    margin: 0;
    z-index: 2;
    position: relative;
}
header {
    z-index: 99999;
    position: relative;
}
header #logo {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
header nav {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    width: 700px;
    margin: 0 auto;
    top: 120px;
    background-color: rgba(29, 29, 29, 0.361);
    border-radius: 200px;
    z-index: 9;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .06);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding: 10px 20px;
    line-height: 1;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: lowercase;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 460px;
    z-index: 1;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .06);
    transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  }

  .dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {    background-color: rgba(255, 255, 255, .05);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .06);
    transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;}
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
  }

header nav button {
    appearance: none;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .1);
    position: absolute;
    z-index: 99;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    transform: scale(0);
}
header nav button span {
    width: 40%;
    background: #fff;
    height: 2px;
    display: block;
    margin: 5px auto;
    transform: scalex(0);
    transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
}
header nav button:hover {
    border-color: rgba(255, 255, 255, .5);
}
header nav button:hover span {
    margin: 10px auto;
}
header.sticky #logo {
    top: 0;
    transform: scale(0.8);
    opacity: 0;
    transition-delay: 0.5s;
}
header.sticky nav {
    top: 20px;
    padding: 0;
    width: 90px;
    height: 90px;
    transition-delay: 0.5s;
}
header.sticky nav button {
    transform: scale(1);
    transition-delay: 0.6s;
}
header.sticky nav button span {
    transform: scalex(1);
    transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s, 0.3s margin ease-in 0s;
}
header.sticky nav a {
    padding: 0;
    opacity: 0;
    letter-spacing: 0px;
    transform: scale(0.3);
    transition-delay: 0.2s;
}
#fixedlink {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    right: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px;
}



body {
	 display: grid;
	 grid-template-rows: 1fr 10rem auto;
	 grid-template-areas: "main" "." "footer";
	 overflow-x: hidden;
	 background: #f5f7fa;
	 min-height: 100vh;
	 font-family: 'Open Sans', sans-serif;
}
 body .footer {
	 z-index: 1;
	 --footer-background: #ff0000;
	 display: grid;
	 position: relative;
	 grid-area: footer;
	 min-height: 12rem;
}
 body .footer .bubbles {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 height: 1rem;
	 background: var(--footer-background);
	 filter: url("#blob");
}
 body .footer .bubbles .bubble {
	 position: absolute;
	 left: var(--position, 50%);
	 background: var(--footer-background);
	 border-radius: 100%;
	 animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
	 transform: translate(-50%, 100%);
}
 body .footer .content {
	 z-index: 2;
	 display: grid;
	 grid-template-columns: 1fr auto;
	 grid-gap: 0rem;
	 padding: 2rem;
	 background: var(--footer-background);
}
 body .footer .content a, body .footer .content p {
	 color: #f5f7fa;
	 text-decoration: none;
}
 body .footer .content b {
	 color: white;
}
 body .footer .content p {
	 margin: 0;
	 font-size: 0.75rem;
}
 body .footer .content > div {
	 display: flex;
	 /* flex-direction: column; */
	 justify-content: center;
}
 body .footer .content > div > div {
	 margin: 0.25rem 0;
}
 body .footer .content > div > div > * {
	 margin-right: 0.5rem;
}
 body .footer .content > div .image {
	 align-self: center;
	 width: 4rem;
	 height: 4rem;
	 margin: 0.25rem 0;
	 background-size: cover;
	 background-position: center;
}
 @keyframes bubble-size {
	 0%, 75% {
		 width: var(--size, 4rem);
		 height: var(--size, 4rem);
	}
	 100% {
		 width: 0rem;
		 height: 0rem;
	}
}
 @keyframes bubble-move {
	 0% {
		 bottom: -4rem;
	}
	 100% {
		 bottom: var(--distance, 10rem);
	}
}
 

/* Footer  */

body {
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    background: #f5f7fa;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
body .footer {
    z-index: 1;
    --footer-background: #42dfb5;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}
body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}
body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}
body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0rem;
    padding: 2rem;
    background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
    color: #f5f7fa;
    text-decoration: none;
}
body .footer .content b {
    color: white;
}
body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
}
body .footer .content > div {

    display: flex;
    padding: 100px 0px;
    gap: 30px;
    /* flex-direction: column; */
    justify-content: center;
}
body .footer .content > div > div {
    margin: 0.25rem 0;
}
body .footer .content > div > div > * {
    margin-right: 0.5rem;
}
body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}
@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
   }
    100% {
        width: 0rem;
        height: 0rem;
   }
}
@keyframes bubble-move {
    0% {
        bottom: -4rem;
   }
    100% {
        bottom: var(--distance, 10rem);
   }
}





















.main_back {
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    width: 11em;
    height: 11em;
    background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
    z-index: -2;
    box-shadow: inset 0px 0px 180px 5px #ffffff;
  }
  
  .main1 {
    display: flex;
    flex-wrap: wrap;
    width: 14em;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  
  .card {
    width: 60px;
    height: 60px;
    border-top-left-radius: 10px;
    background: lightgrey;
    transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card .instagram {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #cc39a4;
  }
  
  .card:nth-child(2) {
    border-radius: 0px;
  }
  
  .card:nth-child(2) .twitter {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #03A9F4;
  }
  
  .card:nth-child(3) {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
  }
  
  .card:nth-child(3) .dribble {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #ffb5d2;
  }
  
  .card:nth-child(4) {
    border-radius: 0px;
  }
  
  .card:nth-child(4) .codepen {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: black;
  }
  
  .card:nth-child(5) {
    border-radius: 0px;
  }
  
  .card:nth-child(5) .uiverse {
    position: absolute;
    margin-left: 0.2em;
    margin-top: 0.2em;
    opacity: 0;
    transition: .2s ease-in-out;
  }
  
  .card:nth-child(6) {
    border-radius: 0px;
  }
  
  .card:nth-child(6) .discord {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #8c9eff;
  }
  
  .card:nth-child(7) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
  }
  
  .card:nth-child(7) .github {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: black;
  }
  
  .card:nth-child(8) {
    border-radius: 0px;
  }
  
  .card:nth-child(8) .telegram {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #29b6f6;
  }
  
  .card:nth-child(9) {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
  }
  
  .card:nth-child(9) .reddit {
    opacity: 0;
    transition: .2s ease-in-out;
  }
  
  .main1:hover {
    width: 14em;
    cursor: pointer;
  }
  
  .main1:hover .main_back {
    opacity: 0;
  }
  
  .main1:hover .card {
    margin: .2em;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
  }
  
  .main1:hover .card:nth-child(5) {
    border: transparent;
  }
  
  .main1:hover .text {
    opacity: 0;
    z-index: -3;
  }
  
  .main1:hover .instagram {
    opacity: 1;
  }
  
  .main1:hover .twitter {
    opacity: 1;
  }
  
  .main1:hover .dribble {
    opacity: 1;
  }
  
  .main1:hover .codepen {
    opacity: 1;
  }
  
  .main1:hover .uiverse {
    opacity: 1;
  }
  
  .main1:hover .discord {
    opacity: 1;
  }
  
  .main1:hover .github {
    opacity: 1;
  }
  
  .main1:hover .telegram {
    opacity: 1;
  }
  
  .main1:hover .reddit {
    opacity: 1;
  }
  
  .card:nth-child(1):hover {
    background-color: #cc39a4;
  }
  
  .card:nth-child(1):hover .instagram {
    fill: white;
  }
  
  .card:nth-child(2):hover {
    background-color: #03A9F4;
  }
  
  .card:nth-child(2):hover .twitter {
    fill: white;
  }
  
  .card:nth-child(3):hover {
    background-color: #ffb5d2;
  }
  
  .card:nth-child(3):hover .dribble {
    fill: white;
  }
  
  .card:nth-child(4):hover {
    background-color: #1E1F26;
  }
  
  .card:nth-child(4):hover .codepen {
    fill: white;
  }
  
  .card:nth-child(5):hover {
    animation: backgroundIMG .1s;
    animation-fill-mode: forwards;
  }
  
  .card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
    stop-color: white;
  }
  
  .card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
    stop-color: white;
  }
  
  .card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
    stop-color: white;
  }
  
  @keyframes backgroundIMG {
    100% {
      background-image: linear-gradient(#BF66FF,#6248FF,#00DDEB);
    }
  }
  
  .card:nth-child(6):hover {
    background-color: #8c9eff;
  }
  
  .card:nth-child(6):hover .discord {
    fill: white;
  }
  
  .card:nth-child(7):hover {
    background-color: black;
  }
  
  .card:nth-child(7):hover .github {
    fill: white;
  }
  
  .card:nth-child(8):hover {
    background-color: #29b6f6;
  }
  
  .card:nth-child(8):hover .telegram > path:nth-of-type(1) {
    fill: white;
  }
  
  .card:nth-child(8):hover .telegram > path:nth-of-type(2) {
    fill: #29b6f6;
  }

  
  
  .card:nth-child(8):hover .telegram > path:nth-of-type(3) {
    fill: #29b6f6;
  }
  
  .card:nth-child(9):hover {
    background-color: rgb(255,69,0);
  }
  
  .card:nth-child(9) .reddit > g circle {
    fill: rgb(255,69,0);
  }
  
  .card:nth-child(9) .reddit > g path {
    fill: white;
  }
  
  .text {
    position: absolute;
    font-size: 0.7em;
    transition: .4s ease-in-out;
    color: black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33em;
    z-index: 3;
  }

.card-block {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
  /* gap: 20px; */
  row-gap: 150px;
  column-gap: 150px;
}



.card-block2  {
  padding-top: 200px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
  /* gap: 20px; */
  row-gap: 150px;
  column-gap: 150px;
}

.card-block3  {

  padding-top:620px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
  /* gap: 20px; */
  row-gap: 150px;
  column-gap: 150px;
}

.card-block4  {

  padding-bottom:200px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
  /* gap: 20px; */
  row-gap: 150px;
  column-gap: 150px;
}

  .card3 {
    width: 190px;
    height: 290px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    z-index: 10;
    text-align: center;
    padding: 20px;
  }

  .card3:nth-child(6) {
    background: radial-gradient(circle, rgba(111,75,10,1) 17%, rgba(42,156,46,1) 55%, rgba(217,177,60,1) 96%);
  }

.card3:nth-child(8) {
  background: radial-gradient(circle, rgba(48,255,24,1) 1%, rgba(197,21,21,1) 81%)
}
.card3:nth-child(1) {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(151,12,168,1) 57%);

}
.card3:nth-child(2) {
  background: radial-gradient(circle, rgba(255,158,0,1) 5%, rgba(12,26,168,1) 57%);

}
.card3:nth-child(3) {
  background: radial-gradient(circle, rgba(196,190,180,1) 19%, rgba(214,176,35,1) 46%);

}
.card3:nth-child(4) {
  background: radial-gradient(circle, rgba(255,180,56,1) 24%, rgba(0,255,192,1) 67%, rgba(35,45,214,1) 92%);

}
.card3:nth-child(5) {
background: radial-gradient(circle, rgba(61,51,22,1) 0%, rgba(225,188,77,1) 25%, rgba(111,75,10,1) 67%, rgba(39,24,4,1) 92%);
}

.card3:nth-child(7) {
  background: radial-gradient(circle, rgba(198,197,197,1) 4%, rgba(91,20,102,1) 62%, rgba(99,20,111,1) 100%);
}


  .card3 a {
      height: 70px;
}

.card3-img{
    height: 100%;
  }


  .button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 8%, rgb(255, 174, 0) 92%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .button:hover::after {
    filter: blur(30px);
  }
  
  .button:hover::before {
    transform: rotate(-180deg);
  }
  
  .button:active::before {
    scale: 0.7;
  }
  
  
  
  .card2 {
    width: 190px;
    height: 254px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all .2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card3:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }


  .tooltip-container {
    background: rgb(3, 169, 244);
    background: linear-gradient(
      138deg,
      rgba(3, 169, 244, 1) 15%,
      rgba(63, 180, 233, 1) 65%
    );
    position: relative;
    cursor: pointer;
    font-size: 17px;
    padding: 0.7em 0.7em;
    border-radius: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .tooltip-container:hover {
    background: #fff;
    transition: all 0.6s;
  }
  .tooltip-container .text {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition: all 0.2s;
  }
  .tooltip-container:hover .text {
    fill: rgb(3, 169, 244);
    transition: all 0.6s;
  }
  
  /* Inicio do tooltip twitter */
  .tooltip1 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #03a9f4;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip1 {
    top: 150%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    border-radius: 50px;
    transform: translate(-50%, -5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip1:hover {
    background: #03a9f4;
    fill: #fff;
  }
  /* Fim do tooltip twitter */
  
  /* Inicio do tooltip facebook */
  .tooltip2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #0462df;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip2 {
    top: -120%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(-50%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip-container:hover .tooltip2:hover {
    background: #0462df;
    fill: #fff;
  }
  /* Fim do tooltip facebook */
  
  /* Inicio do tooltip whatsApp */
  .tooltip3 {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translateX(80%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #1db954;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip3 {
    top: 10%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(85%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip3:hover {
    background: #1db954;
    fill: #fff;
  }
  /* Fim do tooltip whatsApp */
  
  /* Inicio do tooltip Discord */
  .tooltip4 {
    position: absolute;
    top: 100%;
    left: -190%;
    transform: translateX(70%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #8c9eff;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip4 {
    top: 10%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(70%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip4:hover {
    background: #8c9eff;
    fill: #fff;
  }
  /* Fim do tooltip Discord */
  
  /* Inicio do tooltip pinterest */
  .tooltip5 {
    position: absolute;
    top: 100%;
    left: -145%;
    transform: translateX(70%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #bd081c;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip5 {
    top: -78%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(70%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip5:hover {
    background: #bd081c;
    fill: #fff;
  }
  /* Fim do tooltip pinterest */
  
  /* Inicio do tooltip dribbble */
  .tooltip6 {
    position: absolute;
    top: 100%;
    left: 35%;
    transform: translateX(70%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #ea4c89;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip6 {
    top: -79%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(70%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip6:hover {
    background: #ea4c89;
    fill: #fff;
  }
  /* Fim do tooltip dribbble */
  
  /* Inicio do tooltip github */
  .tooltip7 {
    position: absolute;
    top: 100%;
    left: 39%;
    transform: translateX(70%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #000;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip7 {
    top: 104%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(70%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip7:hover {
    background: #000;
    fill: #fff;
  }
  /* Fim do tooltip github */
  
  /* Inicio do tooltip reddit */
  .tooltip8 {
    position: absolute;
    top: 100%;
    left: -150%;
    transform: translateX(70%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #ff4500;
    padding: 10px;
    border-radius: 50px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip8 {
    top: 101%;
    opacity: 1;
    visibility: visible;
    background: #fff;
    transform: translate(70%, -5px);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip-container:hover .tooltip8:hover {
    background: #ff4500;
    fill: #fff;
  }
  /* Fim do tooltip reddit */
  
  /* Inicio do tooltip fixo */
  .tooltip9 {
    position: absolute;
    top: 0;
    left: -115%;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    height: 150px;
    z-index: -1;
  }
  
  .tooltip-container:hover .tooltip9 {
    top: -110%;
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
    z-index: -1;
  }


















  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }

  



  .Btn1 {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG1 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1877f2;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn1:hover .BG1 {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn1:hover .svgContainer1 {
    border: 1px solid rgba(230, 230, 230, 0.466);
    background-color: rgba(204, 204, 204, 0.466);
    backdrop-filter: blur(4px);
  }
  


  .Btn2 {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG2 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn2:hover .BG2 {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn2:hover .svgContainer2 {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(190, 190, 190, 0.466);
    backdrop-filter: blur(4px);
  }


  .Btn3 {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG3 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn3:hover .BG3 {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn3:hover .svgContainer3 {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }
  



  
.soso {
  display: flex;
  justify-content: end;
  gap: 20px, 20px;

}


/* ---------------------------News.html--------------------------- */
.section-video{
}

.video{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%; 
  min-height: 100%;
z-index: -10;
}




.light-button button.bt5 {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
}

.light-button button.bt5 .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #0a0a0a;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: #0f0f0f 2px solid;
  outline-offset: 20;
}

.light-button button.bt5 .button-holder svg {
  height: 50px;
  fill: #0f0f0f;
  transition: 300ms;
}

.light-button button.bt5 .light-holder {
  position: absolute;
  height: 200px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt5 .light-holder .dot {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #0a0a0a;
  border-radius: 10px;
  z-index: 2;
}

.light-button button.bt5 .light-holder .light {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt5:hover .button-holder svg {
  fill: rgba(233, 57, 26);
}

.light-button button.bt5:hover .button-holder {
  color: rgba(233, 57, 26);
  outline: rgba(233, 57, 26) 2px solid;
  outline-offset: 2px;
}

.light-button button.bt5:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgb(233, 57, 26) 0%,
    rgba(200, 20, 100, 0) 75%,
    rgba(200, 20, 100, 0) 100%
  );
}


.light-button button.bt9 {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.light-button button.bt9 .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #0a0a0a;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: #0f0f0f 2px solid;
  outline-offset: 20;
}

.light-button button.bt9 .button-holder svg {
  height: 50px;
  fill: #0f0f0f;
  transition: 300ms;
}

.light-button button.bt9 .light-holder {
  position: absolute;
  height: 200px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt9 .light-holder .dot {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #0a0a0a;
  border-radius: 10px;
  z-index: 2;
}

.light-button button.bt9 .light-holder .light {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt9:hover .button-holder svg {
  fill: rgba(88, 101, 242, 1);
}

.light-button button.bt9:hover .button-holder {
  color: rgba(88, 101, 242, 1);
  outline: rgba(88, 101, 242, 1) 2px solid;
  outline-offset: 2px;
}

.light-button button.bt9:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(88, 101, 242, 1) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}


.footer-light{
  display: flex;
  align-items: center;
}



.light-button button.bt7 {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
}

.light-button button.bt7 .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #0a0a0a;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: #0f0f0f 2px solid;
  outline-offset: 20;
}

.light-button button.bt7 .button-holder svg {
  height: 50px;
  fill: #0f0f0f;
  transition: 300ms;
}

.light-button button.bt7 .light-holder {
  position: absolute;
  height: 200px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt7 .light-holder .dot {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #0a0a0a;
  border-radius: 10px;
  z-index: 2;
}

.light-button button.bt7 .light-holder .light {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt7:hover .button-holder svg {
  fill: rgb(66, 81, 245);
}

.light-button button.bt7:hover .button-holder {
  color: rgba(66, 81, 245);
  outline: rgba(66, 81, 245) 2px solid;
  outline-offset: 2px;
}

.light-button button.bt7:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(66, 81, 245) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}







.form {

  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 1.4em;
  background-color: #171717;
  background-color: #0a192f;
  border-radius: 20px;
}

.form-heading {
 
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {

  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
  width: 500px;
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s ease;
  z-index: 100;

}
.form-card1:hover {
  transform: scale(1.3);
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {

  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  
  transform: scale(0.98);
  border-radius: 20px;
}



